.benefit {
    background: rgb(214,232,238);
    background: linear-gradient(0deg, rgba(214,232,238,1) 0%, rgba(172,193,212,1) 100%);
    padding: 88px 0;
    @include respond-to($tablet) {
        padding: 60px 0;
        background: #acc1d4;
    }
    &__wrap {
        position: relative;
        padding: 30px 0 110px;
        @include respond-to($tablet) {
            padding: 0;
        }
        &:before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            display: inline-block;
            width: 100%;
            height: 100%;
            background: url("../img/benefit-content-bg.png");
            background-repeat: no-repeat;
            background-position: 7px 0;
            background-size: cover;
            z-index: 0;
            @include respond-to($lg-1420-max) {
                background-position: 33% 0;
            }
            @include respond-to($tablet) {
                display: none;
            }
        }
    }

    
    &__content {
        position: relative;
        display: flex;
        flex-direction: column;


        &-title {
            display: flex;
            flex-direction: column;
            font-size: 35px;
            font-family: 'Micra', sans-serif;
            color: #001b48;
            text-transform: uppercase;
            max-width: 650px;
            align-self: flex-end;
            margin-right: 17px;
            line-height: 1;
            margin-bottom: 35px;
            @include respond-to($xs-max) {
                padding: 0 15px;
            }
            span {
                display: inline-block;
                width: 100%;
            }

            .top {
                padding-left: 130px;
                margin-bottom: 12px;
                text-align: left;
                @include respond-to($xs-max) {
                    font-size: 20px;
                    padding-left: 0;

                }
            }
            .middle {
                text-align: center;
                font-weight: bold;
                font-family: 'Cinzel', sans-serif;
                font-size: 85px;
                color: #001b48;
                letter-spacing: 4px;
                line-height: .7;
                margin-bottom: 5px;
                opacity: .6;
                @include respond-to($tablet) {
                    font-size: 56px;
                }
                @include respond-to($xs-max) {
                    font-size: 44px;
                    letter-spacing: 0;
                }

            }
            .bottom {
                text-align: right;
                @include respond-to($xs-max) {
                    font-size: 20px;
                }
            }
        }
    }

    &__list {
        display: flex;
        flex-direction: column;
        max-width: 760px;
        @include respond-to($tablet) {
           max-width: 500px;
            margin: 0 auto;
        }
        @include respond-to($xs-max) {
            padding: 0 20px;
        }


        &-item {


            .item {
                display: flex;
                align-items: flex-start;
                &__img {
                    max-width: 287px;
                    width: 100%;
                    display: flex;
                    flex-basis: 280px;
                    padding-right: 50px;
                    @include respond-to($tablet) {
                        display: none;
                    }

                    img {
                        width: 100%;
                        max-width: 235px;
                        min-width: 235px;
                    }
                }

                &__content {
                    padding-left: 56px;
                    padding-bottom: 70px;
                    border-left: 2px solid #02457a;
                    @include respond-to($tablet) {
                        border-left: none;
                        padding-bottom: 0;
                        margin-bottom: 30px;
                        padding-left: 0;
                    }
                    &-title {
                        font-size: 25px;
                        color: #001b48;
                        font-weight: 500;
                        margin-bottom: 35px;
                        @include respond-to($tablet) {
                            display: flex;
                            font-size: 18px;
                            margin-bottom: 35px;
                        }

                        .mob-img {
                            display: none;
                            @include respond-to($tablet) {
                                display: inline-block;
                                max-width: 145px;
                                margin-right: 15px;
                            }
                            img {
                                width: 100%;
                            }
                        }
                    }
                    &-text {
                        font-size: 18px;
                        color: #001b48;
                        @include respond-to($tablet) {
                            font-size: 16px;
                        }
                    }
                }
            }

            &:last-child {
                .item__content {
                    padding-bottom: 0;
                }
            }
        }

    }

}