.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    background: url("../img/hero-bh.jpg");
    min-height: 100vh;
    position: relative;

    &__wrap {
        position: absolute;
        width: 100%;
        height: 100%;
    }

    .row {
        position: relative;
    }

    &__menu {


        &-item {
            position: absolute;
            transform: translateX(-50%);
            top: 100px;
            transition: all .2s;

            &:nth-child(1) {
                top: 172px;
            }
            &:nth-child(2) {
                top: 332px;
            }
            &:nth-child(3) {
                top: 520px;
            }
            &:nth-child(4) {
                top: 400px;
            }

            .btm-menu {
                display: inline-block;
                transition: all .2s;
                font-size: 18px;
                color: #fff;
                font-family: 'Montserrat', sans-serif;
                transform: rotate(-90deg);
                margin-left: 25px;

                span {
                    display: inline-block;
                }

            }
        }
    }

    &__content {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }


    &__sub-title {
        font-size: 38px;
        text-transform: uppercase;
        color: #fff;
        font-family: "Cinzel", sans-serif;
        margin-bottom: 40px;
        letter-spacing: 0.7px;
    }

    &__logo {

    }
}