.plan {
    background: rgb(241,248,250);
    background: linear-gradient(0deg, rgba(241,248,250,1) 0%, rgba(213,232,238,1) 100%);
    padding: 83px 0 104px;
    &__scheme {
        display: flex;
        width: 100%;
        margin-bottom: 66px;
        position: relative;
        left: 32px;

        img {
            width: 100%;
        }
    }

    &__content {
        display: flex;
        justify-content: space-between;
        &-report {
            border-left: 2px solid #02457a;
            max-width: 390px;
            padding-top: 37px;

            .title {
                font-size: 30px;
                color: #001b48;
                font-weight: 500;
                padding-left: 35px;
                margin-bottom: 25px;
            }

            .list-title {
                font-size: 18px;
                color: #001b48;
                font-weight: 400;
                padding-left: 35px;
                margin-bottom: 20px;
            }

            .list {
                display: flex;
                flex-direction: column;
                margin-bottom: 18px;

                &__item {
                    font-size: 18px;
                    color: #001b48;
                    font-weight: 500;
                    background: rgb(151,201,219);
                    background: linear-gradient(0deg, rgba(151,201,219,1) 0%, rgba(213,231,237,1) 100%);
                    display: flex;
                    align-items: center;
                    border-bottom-right-radius: 15px;
                    border-top-right-radius: 15px;
                    max-width: 236px;
                    height: 50px;
                    margin-bottom: 24px;
                    padding-left: 40px;

                    &:last-child {
                        margin-bottom: 0;
                    }
                }
            }

            .sub-title {
                font-size: 18px;
                color: #001b48;
                font-weight: 400;
                padding-left: 35px;
            }
        }

        &-description {

            border-radius: 15px;
            padding: 34px 95px 90px;
            position: relative;
            max-width: 692px;
            z-index: 10;
            &:before {
                content: '';
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
                background: rgb(2,69,122);
                background: linear-gradient(0deg, rgba(2,69,122,1) 0%, rgba(233,243,246,1) 100%);
                border-radius: 15px;
                opacity: .33;
                z-index: -1;
            }
            &:after {
                content: '';
                background: url("/img/credit.png");
                background-repeat: no-repeat;
                position: absolute;
                width: 208px;
                height: 300px;
                display: inline-block;
                bottom: -33px;
                right: -32px;
            }

            .title {
                font-size: 30px;
                color: #ffffff;
                font-weight: 500;
                background: rgb(2,69,122);
                background: linear-gradient(0deg, rgba(2,69,122,1) 0%, rgba(151,201,219,1) 100%);
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 18px 20px;
                border-radius: 15px;
                margin-right: -140px;
                margin-bottom: 38px;
            }

            .sub-title {
                font-size: 24px;
                color: #001b48;
                font-weight: 400;
                margin-bottom: 26px;
            }
            .list {
                display: flex;
                flex-direction: column;
                &__item {
                    font-size: 18px;
                    color: #001b48;
                    font-weight: 400;
                    margin-bottom: 13px;
                }
            }
        }
    }
}