<section class="about section">
    <div class="container">
        <div class="row">

            <div class="about__give">
                <h2 class="about__give-title">
                    you can give people
                </h2>
                <div class="about__give-wrap">
                    <div class="item">
                        <div class="item__head">
                            <span class="drone">
                                <img src="img/about-drone.png" alt="dron">
                            </span>
                            <div class="item__head-img">
                                <span class="photo">
                                    <img src="img/about-img-1.png" alt="alt">
                                </span>

                                <img class="empty" src="img/about-img-empty.png" alt="empty">

                            </div>
                        </div>
                        <div class="item__content">
                            <h3 class="item__content-title">effective Agriculture</h3>
                            <h4 class="item__content-sub-title">More yields frome the same land.</h4>
                            <p class="item__content-text">
                                Exdroner can provide full-use of avaliable agricultural land by cheap and
                                effective spraying from the air. Farmers will have convinient and simple mean of spraying
                            </p>
                        </div>
                    </div>

                    <div class="item">
                        <div class="item__head">
                            <div class="item__head-img">
                                <span class="photo">
                                    <img src="img/about-img-2.jpg" alt="alt">
                                </span>
                                <img class="empty" src="img/about-img-empty.png" alt="empty">
                            </div>

                        </div>
                        <div class="item__content">
                            <h3 class="item__content-title">Widespread emergency vehicle</h3>
                            <h4 class="item__content-sub-title">Cheap and affordable solution for emergency situations.</h4>
                            <p class="item__content-text">
                                Emergency services can use helicopters for evacuating people and Exdroner
                                for monitoring, equipment delivery. Exdroner can provide emergency services with quick deploying,
                                fast and reliable vehicle. Exdroner can work with minimum infrastructure far from civilization.
                            </p>
                        </div>
                    </div>

                    <div class="item">
                        <div class="item__head">
                            <div class="item__head-img">
                                <span class="photo">
                                    <img src="img/about-img-3.jpg" alt="alt">
                                </span>
                                <img class="empty" src="img/about-img-empty.png" alt="empty">
                            </div>

                        </div>
                        <div class="item__content">
                            <h3 class="item__content-title">Chance to survive</h3>
                            <h4 class="item__content-sub-title">Timely, reliable and cheap delivery of human organs and biomaterials.</h4>
                            <p class="item__content-text">
                                Heart for transplantation has no right to stuck in traffic jam. It has no
                                right to double the distance on a mountainous road. But its transportation has
                                to be cost-effective and accurate. Exdroner can provide you with all of this
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="about__excellence">
                <h2 class="about__excellence-title">
                    excellence of drone
                </h2>

                <div class="about__excellence-wrap">
                    <div class="item">
                        <div class="item__head">Long range <br> of flight</div>
                        <p class="item__text">Exdroner can fly up to 190 miles away with
                            maximum payload. And even more with some improvements
                        </p>
                    </div>

                    <div class="item">
                        <div class="item__head">Vertical take-off <br> and landing</div>
                        <p class="item__text">
                            Take-off like multicopter, then flying like a plane and landing vertical.
                            All this is possible with Exdroned. Moreover, you can hover
                            above the object for loading/unloading
                        </p>
                    </div>

                    <div class="item">
                        <div class="item__head">9 kg <br> payload</div>
                        <p class="item__text">
                            Full set of cameras, spraying tank, cargobox - you choose what you will transport. High flexibility gives
                            a customer an opportunity to use it for different applications depending on situation
                        </p>
                    </div>

                    <div class="item">
                        <div class="item__head">FAR Part 107 <br> applicable</div>
                        <p class="item__text">
                            The MTOW of Exdroner is applicable for usage with no waivers of FAR Part 107. 55 pounds is
                            normal take-off weight for Exdroner. The frame can take even more but you should change the motors.
                        </p>
                    </div>

                    <div class="item">
                        <div class="item__head">Cruise speed <br> 60-80 mph</div>
                        <p class="item__text">
                            High speed can allow you to deliver your cargo fast.
                            You can also fly in low-speed mode of 25 mph for spraying or territory monitoring.
                        </p>
                    </div>

                    <div class="item">
                        <div class="item__head">No need of <br> charging</div>
                        <p class="item__text">
                            You can deploy Exdroner far from civilization with minimum
                            additional materials. Just fuel and laptop, tablet or smartphone.
                            Exdroner will take care of the rest.
                        </p>
                    </div>
                </div>
            </div>
        </div>





    </div>
</section>