<section class="benefit section">
    <div class="benefit__wrap">
        <div class="container">
            <div class="row">
                <div class="benefit__content">
                    <h2 class="benefit__content-title">
                        <span class="top">What is </span>
                        <span class="middle">the benefit</span>
                        <span class="bottom">of exdroner</span>
                    </h2>

                    <ul class="benefit__list">
                        <li class="benefit__list-item">
                            <div class="item">
                                <div class="item__img">
                                    <img src="img/benefit-img-1.png" alt="alt">
                                </div>

                                <div class="item__content">
                                    <div class="item__content-title">
                                        <span class="mob-img">
                                               <img src="img/benefit-img-1.png" alt="alt">
                                        </span>
                                        Over 600 million dollars of potential demand only on the USA territory.
                                    </div>
                                    <div class="item__content-text">
                                        Farmers, rescue and air medical services together make a
                                        great market opportunity for project success. Our job is to give them possibilities.
                                    </div>
                                </div>
                            </div>

                        </li>

                        <li class="benefit__list-item">
                            <div class="item">
                                <div class="item__img">
                                    <img src="img/benefit-img-2.png" alt="alt">
                                </div>

                                <div class="item__content">
                                    <div class="item__content-title">
                                        <span class="mob-img">
                                              <img src="img/benefit-img-2.png" alt="alt">
                                        </span>
                                        High product margin
                                    </div>
                                    <div class="item__content-text">
                                        High-tech industries always have high margin. But we are able to reduce
                                        production costs to minimum providing good profit and possibilities for growth and development.
                                    </div>
                                </div>
                            </div>

                        </li>

                        <li class="benefit__list-item">
                            <div class="item">
                                <div class="item__img">
                                    <img src="img/benefit-img-3.png" alt="alt">
                                </div>

                                <div class="item__content">
                                    <div class="item__content-title">
                                          <span class="mob-img">
                                                <img src="img/benefit-img-3.png" alt="alt">
                                            </span>
                                        Relatively simple and quick process of organizing production
                                    </div>
                                    <div class="item__content-text">
                                        Designing Exdroner we tried to make all production operations quick and simple.
                                        We refused some ultramodern solutions to reduce
                                        the labor input and need of expensive equipment. A lot of production work can be made by contractors.
                                    </div>
                                </div>
                            </div>

                        </li>
                    </ul>
                </div>

            </div>
        </div>
    </div>

</section>