<section class="contact" id="contact">
    <div class="container">
        <div class="row">

            <div class="contact__wrap">
                <div class="info">
                    <h3 class="info__title">
                        contact us to help this project
                    </h3>

                    <ul class="info__wrap">
                        <li class="info__item">Current location: Zaporizhia city, Ukraine</li>
                        <li class="info__item">E-mail: heavyliftdrone@gmail.com</li>
                        <li class="info__item">Telephone: +380 68 124 13 18</li>
                        <li class="info__item">Teamleader and fundraiser: Oleksandr Ralyk</li>
                    </ul>
                    <ul class="info__soc">
                        <li class="info__soc-item">
                            <a href="#" target="_blank">
                                <img src="/img/Skype.png" alt="soc">
                            </a>
                        </li>
                        <li class="info__soc-item">
                            <a href="#" target="_blank">
                                <img src="/img/Faceb.png" alt="soc">
                            </a>
                        </li>
                        <li class="info__soc-item">
                            <a href="#" target="_blank">
                                <img src="/img/telegram.png" alt="soc">
                            </a>
                        </li>
                    </ul>
                </div>

                <div class="question">
                    <h3 class="question__title">
                        Or ask question
                    </h3>

                    <form class="question__form" action="send.php" method="post">
                        <label class="item">
                            <p class="item__title">Name</p>
                            <input type="text" name="Name">
                        </label>
                        <label class="item">
                            <p class="item__title">Phone number</p>
                            <input type="text" name="Phone">
                        </label>
                        <label class="item">
                            <p class="item__title">Email</p>
                            <input type="text" name="Email">
                        </label>
                        <label class="item textarea">
                            <p class="item__title">Massage</p>
                            <textarea name="Message"  id="textarea"></textarea>
                        </label>

                            <button class="submit">
                                <span class="text">
                                           Submit
                                </span>

                            </button>


                    </form>
                </div>
            </div>

        </div>
    </div>
</section>