<header class="header">
    <div class="container">
        <div class="row">
            <ul class="header__wrap">
                <li class="header-item">
                    <a href="#" class="btm-menu"><span>Contact</span></a>
                </li>
                <li class="header-item">
                    <a href="/details.html" class="btm-menu"><span>Technical details</span></a>
                </li>
                <li class="header-item">
                    <a href="#" class="btm-menu"><span>Information</span></a>
                </li>
            </ul>
        </div>
    </div>
</header>
