<section class="hero section">
    <div class="hero__wrap">
        <div class="container">
            <div class="row">
                <ul class="hero__menu">
                    <li class="hero__menu-item">
                        <a href="#contact" class="btm-menu show flowing-scroll"><span>Contact</span></a>
                    </li>
                    <li class="hero__menu-item">
                        <a href="/details.html" class="btm-menu show"><span>Technical details</span></a>
                    </li>
                    <li class="hero__menu-item">
                        <a href="#about" class="btm-menu show flowing-scroll"><span>Information</span></a>
                    </li>

                </ul>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="hero__content">
                    <p class="hero__sub-title">
                        Leave your trace for humanity
                    </p>
                    <div class="hero__logo">
                        <img src="img/logo-hero.png" alt="logo">
                    </div>
                </div>
        </div>
    </div>
</section>