<section class="main section">
    main
    <h1>block 2</h1>
<!--    <div class="container">-->
<!--        <div class="row">-->

<!-- hello world-->
<!--            <div class="container">-->

<!--                <div class="row">-->
<!--                    <div class="col-sm-4">-->
<!--                        <button class="btn-start">-->
<!--                            start-->
<!--                        </button>-->

<!--                        <div class="cub">-->

<!--                        </div>-->
<!--                    </div>&lt;!&ndash; .col-sm-4 &ndash;&gt;-->
<!--                </div> &lt;!&ndash; .row &ndash;&gt;-->

<!--            </div>&lt;!&ndash; /.container &ndash;&gt;-->

<!--        </div>-->
<!--    </div>-->
</section>