<section class="plan section">
    <div class="container">
        <div class="row">
            <div class="plan__scheme">
                <img class="desctop" src="img/scheme.png" alt="alt">
                <img class="mob" src="img/Time-line-mob.png" alt="alt">
            </div>

            <div class="plan__content">
                <div class="plan__content-report">
                    <h4 class="title">What  is done?</h4>
                    <p class="list-title">For the moment we've finished project documentation for prototype construction: </p>

                    <div class="mob-wrap">
                        <ul class="list">
                            <li class="list__item">construction model</li>
                            <li class="list__item">electrical model</li>
                            <li class="list__item">aerodynamics model</li>
                            <li class="list__item">components list</li>
                        </ul>
                        <p class="sub-title">
                            Also we've done marketing research for
                            agricultural sphere and estimated the demand.
                        </p>
                    </div>

                </div>

                <div class="plan__content-description">
                    <h3 class="title">What we need and what will we do?</h3>

                    <div class="wrap-mob">
                        <p class="sub-title">
                            On this stage we need a financing in
                            ammount of $100.000 to do the following:
                        </p>

                        <ul class="list">
                            <li class="list__item">1. Prototype construction</li>
                            <li class="list__item">2. Development of production schemes</li>
                            <li class="list__item">3. Software development</li>
                            <li class="list__item">4. Pre-sales negotiations</li>
                            <li class="list__item">5. Pre-orgers collection</li>
                            <li class="list__item">6. Preparation for the next investment round</li>
                        </ul>
                    </div>



                </div>
            </div>

        </div>
    </div>
</section>