<section class="team section">
    <div class="team__poster">
        <div class="team__poster-dron-desctop">
            <img src="img/drone-team.png" alt="drone">
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="team__title">
                <img src="img/Exdroner-team.png" alt="logo">
            </div>

            <div class="team__content">
                <div class="item">
                    <div class="item__img">
<!--                        <img src="" alt="">-->
                    </div>

                    <div class="item__content">
                        <div class="item__content-title">
                            <h4>Oleksandr Ralyk, <br>  project manager</h4>
                            <span class="quote">
                                <img src="img/Quote.png" alt="alt">
                            </span>
                        </div>
                        <div class="item__content-text">
                            <p>
                                I always loved to fly. I think, that Wright brothers made a tremendous step for
                                humanity - they gave us a possibility to be like a bird in the skies.
                                I appreciate that and want to make air transportation a
                                mean of everyday life for all the people.
                            </p>
                        </div>

                    </div>
                </div>

                <div class="about-team">
                    <h3 class="about-team__title">
                        why are we working on this project?
                    </h3>
                    <p class="about-team__text">
                        This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet.
                        Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis
                        sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris.
                        Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio.
                        Sed non  mauris vitae erat consequat auctor eu in elit. Class aptent taciti sociosqu ad litora torquent
                    </p>
                </div>

                <div class="item">
                    <div class="item__img">
<!--                        <img src="" alt="">-->
                    </div>

                    <div class="item__content">
                        <div class="item__content-title">
                            <h4>Oleksii Prytula, <br> aerodynamics and powerplant engineer</h4>
                            <span class="quote">
                                <img src="img/Quote.png" alt="alt">
                            </span>
                        </div>
                        <div class="item__content-text">
                            <p>
                                It is a possibility for me to do what I can do
                                the best, to apply knowledge and skills that I studied for the longest,
                                for the goal which I like the best:
                                to make something useful and needful for humanity.
                            </p>
                        </div>

                    </div>
                </div>

                <div class="item">
                    <div class="item__img">
<!--                        <img src="" alt="">-->
                    </div>

                    <div class="item__content">
                        <div class="item__content-title">
                            <h4>Oleksandr Ralyk, <br>  project manager</h4>
                            <span class="quote">
                                <img src="img/Quote.png" alt="alt">
                            </span>
                        </div>
                        <div class="item__content-text">
                            <p>
                                I always loved to fly. I think, that Wright brothers made a tremendous step for
                                humanity - they gave us a possibility to be like a bird in the skies.
                                I appreciate that and want to make air transportation a
                                mean of everyday life for all the people.
                            </p>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>
</section>